<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">LOGIN</h1>
        <form (submit)="onSubmitLogin()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-lg">Confirmar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <h6>¿Olvidaste tu contraseña?</h6>
      <div class="card-body d-flex justify-content-around">
          <button class="btn btn-primary btn-block btn-lg" (click)="resetPassword(this.email)" >Recupérala</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <h6>¿Aún no tienes una Cuenta?</h6>
      <div class="card-body d-flex justify-content-around">
          <button [routerLink]="['/register']" class="btn btn-primary btn-block btn-lg">Regístrate</button>
      </div>
    </div>
  </div>
</div>