<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Datos básicos</h1>
          <div id="photo-container">
            <img src="{{basicInfo.photo}}" class="img-circle" />
          </div> 
          <div class="form-group">
            <label for="name">Nombre</label>
            <span class="form-control">{{basicInfo.firstName}}</span>
          </div>
          <div class="form-group">
            <label for="lastname">Apellidos</label>
            <span class="form-control">{{basicInfo.lastName}}</span>
          <div class="form-group">
            <label for="date">Fecha de nacimiento</label>
            <span class="form-control">{{basicInfo.date}}</span>
          <div class="form-group">
            <label for="gender">Género:</label>
            <span class="form-control">{{basicInfo.gender}}</span>
          </div>
          <div class="form-group">
            <label for="dir">Dirección:</label>
            <span class="form-control">{{basicInfo.direction}}</span>
          </div>
          <div class="form-group">
            <label for="phone">Teléfono:</label>
            <span class="form-control">{{basicInfo.phone}}</span>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <span class="form-control">{{basicInfo.email}}</span>
          </div>
          <button [routerLink]="['/profileList']" type="submit" class="btn btn-primary btn-block btn-lg">Ok</button>
        </div>
      </div>
    </div>
  </div>