<div class="card">  
  <div class="row" *ngFor="let basicInfo of basicInfosList">
    <div class="col-md-12">
      <div class="col-md-12" align="center">
        <img src="{{basicInfo.photo}}" class="img-circle" />
      </div>
      <div class="col-md-12">
          <h3 class="text-center"><strong>{{basicInfo.firstName}}</strong></h3>
      </div>
      <div class="col-md-12">
        <br>
        <ul class="list-group list-primary">
            <a class="list-group-item" href="#" [routerLink]="['/medicallist/' + basicInfo.profileId ]">historial Medico</a>
            <a class="list-group-item" href="#" [routerLink]="['/viewBasicInfo/' + basicInfo.profileId + '/' + basicInfo.key]">Información Básica</a>
            <a class="list-group-item" href="#" [routerLink]="['/editBasicInfo/' + basicInfo.profileId + '/' + basicInfo.key]">Editar Información Básica</a>
            <div *ngFor="let medicalInfo of medicalInfosList ">
              <div *ngIf= "medicalInfo.profileId === basicInfo.profileId">
                  <a class="list-group-item" href="#" [routerLink]="['/viewMedicalInfo/' + medicalInfo.profileId + '/' + medicalInfo.key]">Información Medica</a>
                  <a class="list-group-item" href="#" [routerLink]="['/editMedicalInfo/' + medicalInfo.profileId + '/' + medicalInfo.key]">Editar Información Medica</a>
                  <a class="list-group-item" *ngIf="!deleteProfileQuestion" (click)="showDeleteProfileQuestion()"><i class="fas fa-trash-alt"></i></a>
                  <span class="list-group-item" id="question" *ngIf="deleteProfileQuestion">Seguro de eliminar este perfil?
                  <span class="yes" (click)="delete(basicInfo.profileId,basicInfo.key,medicalInfo.key)">si</span>
                  <span class="no" (click)="showDeleteProfileQuestion()">no</span>
                  </span>
              </div>
            </div>
        </ul>
      </div>
    </div>
    <hr class="col-md-12">
  </div>
</div>  

<h2>Opciones de cuenta:</h2>
<div class="options">
  <div class="row">
    <div class="col-md-12" align="center">
      <a class="btn btn-outline-success my-2 my-sm-0"  [routerLink]="['/basicinfo']">Nuevo Perfil</a>
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="showDeleteUserView()">Borrar Cuenta</button>
      <button class="btn btn-outline-warning my-2 my-sm-0" (click)="showChangePasswordView()">Cambiar Contraseña</button>        
    </div>
  </div>
  <div class="row" *ngIf="deleteUserView">
      <div class="col-md-6 mx-auto mt-5">
        <div class="card">
          <div class="card-body">
            <h6 class="text-center">Esta seguro de borrar esta cuenta?</h6>
            <button class="btn btn-primary btn-block btn-lg" (click)="showDeleteUserView()">No</button>
            <button class="btn btn-danger btn-block btn-lg" [routerLink]="['/']" (click)="deleteUser()">Si</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="changePasswordView">
      <div class="col-md-6 mx-auto mt-5">
        <div class="card">
          <div class="card-body">
            <h6 class="text-center">Cambiar Contraseña</h6>
            <div class="form-group" >
              <label for="password">Nueva Contraseña</label>
              <input type="text" name="newPassword" id="password" [(ngModel)]="newPassword" class="form-control">
            </div>
            <button class="btn btn-warning btn-block btn-lg" (click)="changePassword(this.newPassword)">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
</div>

