*{
    text-align: center;
}
#photo-container{
    margin: 5px 0;
    text-align: center;
}
.img-circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.hidden{
    display: none;
}
#profiles{
    margin: 0 0 0 20%;
    padding: 0; 
}
hr{
    font-size: 5px;
}
#question{
    font-weight: bold;
    margin: 0 2px;
}
.yes{
    color: red;
    cursor: pointer;
    margin: 0 3px;
}
.no{
    color: blue;
    cursor: pointer;
    margin: 0 3px;
}
.options{
    margin: 5px 0 10% 0;
}
