<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
            <h1 class="text-center">Información Médica</h1>   
            <div class="form-group">
              <label for="height">Altura</label>
              <span class="form-control">{{medicalInfo.height}}</span>
            </div>
            <div class="form-group">
              <label for="weight">Peso:</label>
              <span class="form-control">{{medicalInfo.weight}}</span>
            </div>
            <div class="form-group">
              <label for="blood">Tipo de sangre:</label>
              <span class="form-control">{{medicalInfo.blood}}</span>
            </div>
            <div class="form-group">
              <label for="allergies">Alergias:</label>
              <span class="form-control">{{medicalInfo.allergies}}</span>
            </div>
            <div class="form-group">
              <label for="diseases">Enfermedades:</label>
              <span class="form-control">{{medicalInfo.diseases}}</span>
            </div>
            <div class="form-group">
              <label for="treatments">Tratamiento:</label>
              <span class="form-control">{{medicalInfo.treatments}}</span>
            </div>
            <button [routerLink]="['/profileList']" type="submit" class="btn btn-primary btn-block btn-lg">Ok</button>
        </div>
      </div>
    </div>
</div>
      