.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}
#close{
    margin-left: 90%;
}
#photo-container{
    margin: 5px 0;
    text-align: center;
}
.photo{
    width: 150px;
    height: 150px;
}
.file-upload {
    cursor: pointer;
}
.errors{
    font-size: 10px;
    color: red;
}