<div class="row">
  <div class = "col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <button id="close" [routerLink]="['/medicallist/' + medicalRegister.profileId]" class="btn btn-danger"><i class="fas fa-times"></i></button>
        <h1 class="text-center">Registro Médico</h1>
        <form (ngSubmit)="update()">
          <div class="form-group">
              <label for="title">Título:</label><span class="errors" *ngIf="titleControl.errors?.required"> &nbsp;&nbsp;&nbsp;&nbsp;*Este campo es requerido</span>
              <input [(ngModel)]="medicalRegister.title" #titleControl="ngModel" type="text" name="title" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="date">Fecha:</label><span class="errors" *ngIf="dateControl.errors?.required"> &nbsp;&nbsp;&nbsp;&nbsp;*Este campo es requerido</span>
            <input [(ngModel)]="medicalRegister.date" #dateControl="ngModel" type="date" name="date" class="form-control" placeholder="MM/DD/YYY" required>
          </div>
          <div class="form-group">
              <label for="doctorName">Doctor:</label>
              <input [(ngModel)]="medicalRegister.doctorName"type="text" name="doctorName" class="form-control">
          </div>
          <div class="form-group">
              <label for="hospital">Hospital:</label>
              <input [(ngModel)]="medicalRegister.hospital" type="text" name="hospital" class="form-control">
          </div>
          <div class="form-group">
              <label for="speciality">Especialidad:</label><span class="errors" *ngIf="specialityControl.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;*Este campo es requerido</span>
              <input [(ngModel)]="medicalRegister.speciality" #specialityControl="ngModel" type="text" name="speciality" class="form-control" required>
          </div>
          <div class="form-group">
              <label for="registerType">Tipo de registro:</label><span class="errors" *ngIf="registerTypeControl.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;*Este campo es requerido</span>
              <select [(ngModel)]="value" [(ngModel)]="medicalRegister.registerType" #registerTypeControl="ngModel" (click)="recuperarValue()" name="registerType" class="form-control" required>
                <option>Consulta</option>
                <option>Análisis</option>
                <option>Prescripción</option>
              </select>
          </div>
          <div >
            <div class="form-group" *ngIf="value === 'Consulta'">
                <label for="description">Descripcion:</label>
                <textarea [(ngModel)]="medicalRegister.description" type="text" name="description" class="form-control" rows="5" required></textarea>
            </div>
          </div>
          <div class="form-group" *ngIf="value === 'Análisis'">
              <label for="analysis">Análisis:</label>
              <textarea [(ngModel)]="medicalRegister.analysis" type="text" name="analysis" class="form-control" rows="5" required></textarea>
          </div>
          <div class="form-group" *ngIf="value === 'Análisis'">
            <input class="file-upload" type="file" (change)="uploadAnalysis($event)"/>
            <div id="photo-container">
              <img *ngIf="analysis" src="{{analysis}}" class="photo" />
            </div>  
          </div>
          <div class="form-group" *ngIf="value === 'Prescripción'">
              <label for="prescription">Prescripción:</label>
              <textarea [(ngModel)]="medicalRegister.prescription" type="text" name="prescription" class="form-control" rows="5" required></textarea>
          </div>
          <div class="form-group" *ngIf="value === 'Prescripción'">
              <input class="file-upload" type="file" (change)="uploadPrescription($event)"/>
              <div id="photo-container">
                <img *ngIf="prescription" src="{{prescription}}" class="photo" />
              </div>  
          </div>
          <div class="form-group">
              <label for="commentary">Comentario:</label>
              <textarea [(ngModel)]="medicalRegister.commentary" type="text" name="commentary" class="form-control" rows="5"></textarea>
          </div>
          <div *ngIf="titleControl.errors?.required || dateControl.errors?.required || specialityControl.errors?.required || registerTypeControl.errors?.required">
            <span class="btn btn-primary btn-block btn-lg" (click) = "paramsRequired()">Confirmar</span>
          </div>
          <div *ngIf="!dateControl.errors?.required && !specialityControl.errors?.required && !registerTypeControl.errors?.required">
              <button type="submit" class="btn btn-primary btn-block btn-lg">Confirmar</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>