<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <button id="close" [routerLink]="['/profileList']" class="btn btn-danger"><i class="fas fa-times"></i></button>
        <h1 class="text-center">Datos básicos</h1>
        <form (ngSubmit)="update()">
          <div id="photo-container">
            <img src="{{basicInfo.photo}}" class="img-circle" />
          </div>   
          <input id="file-upload" type="file" (change)="uploadFile($event)"/>  
          <div class="form-group">
           <label for="name">Nombre</label><span class="errors" *ngIf="nameControl.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;*Este campo es requerido</span>
           <input [(ngModel)]="basicInfo.firstName" #nameControl="ngModel" placeholder="Ej: Juan" type="text" name="firstName" class="form-control" required>
           <div class="errors" *ngIf="nameControl.errors?.required">
             *Este campo es requerido
          </div>
          </div>
          <div class="form-group">
            <label for="lastname">Apellidos</label><span class="errors" *ngIf="lastNameControl.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;*Este campo es requerido</span>
            <input [(ngModel)]="basicInfo.lastName" #lastNameControl="ngModel" placeholder="Ej: Perez Lopez" type="text" name="lastName" class="form-control" required>
            <div class="errors" *ngIf="lastNameControl.errors?.required">
                *Este campo es requerido
            </div>
          </div>
          <div class="form-group">
            <label for="date">Fecha de nacimiento</label><span class="errors" *ngIf="dateControl.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;*Este campo es requerido</span>
            <input [(ngModel)]="basicInfo.date" #dateControl="ngModel"  class="form-control" name="date" placeholder="MM/DD/YYY" type="date"required>
            <div class="errors" *ngIf="dateControl.errors?.required">
                *Este campo es requerido
            </div>
          </div>
          <div class="form-group">
            <label for="gender">Género:</label><span class="errors" *ngIf="genderControl.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;*Este campo es requerido</span>
            <select [(ngModel)]="basicInfo.gender" #genderControl="ngModel" name="gender" class="form-control" required>
              <option>Masculino</option>
              <option>Femenino</option>
              <option>Otro</option>
            </select>
            <div class="errors" *ngIf="genderControl.errors?.required">
                *Este campo es requerido
            </div>
          </div>
          <div class="form-group">
            <label for="dir">Dirección:</label>
            <input [(ngModel)]="basicInfo.direction" placeholder="Ej: Av. America" type="text" name="direction" class="form-control">
          </div>
          <div class="form-group">
            <label for="phone">Teléfono:</label>
            <input [(ngModel)]="basicInfo.phone" type="text" placeholder="Ej: 77777777" name="phone" id="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input [(ngModel)]="basicInfo.email" placeholder="Ej: demo@gmail.com" type="text" name="email" class="form-control">
          </div>
          <div *ngIf="nameControl.errors?.required || lastNameControl.errors?.required || dateControl.errors?.required || genderControl.errors?.required">
            <span class="btn btn-primary btn-block btn-lg" (click)="paramsRequired()">Confirmar</span>
          </div>
          <div *ngIf="!nameControl.errors?.required && !lastNameControl.errors?.required && !dateControl.errors?.required && !genderControl.errors?.required">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>