.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}
.errors{
    font-size: 10px;
    color: red;
}
#close{
    margin-left: 90%;
}
#photo-container{
    margin: 5px 0;
    text-align: center;
}
.img-circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#file-upload {
    cursor: pointer;
}