.btn-filter{
    text-align: center;
    width: 20%;
    background: #343a40;
    margin: 5px 0 ;
    border: 2px solid #343a40;
}
#search{
    margin: 10px 0;
}
#newRegister{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.question{
    font-weight: bold;
    margin: 0 2px;
}
.yes{
    color: red;
    cursor: pointer;
    margin: 0 3px;
}
.no{
    color: blue;
    cursor: pointer;
    margin: 0 3px;
}

