<div class="container">
    <label>Filtrar por:</label>
    <button (click)="filterConsults()" class="btn btn-primary btn-filter">Consultas</button>
    <button (click)="filterAnalyses()" class="btn btn-primary btn-filter">Análisis</button>
    <button (click)="filterPrescriptions()" class="btn btn-primary btn-filter">Prescripciones</button>
    <button (click)="filterOut()" class="btn btn-primary btn-filter">Todos</button>
</div>
<div id="search">
    <div class="col-lg-6 offset-lg-4">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="buscar registro" (keyup.enter)="buscarRegistro(buscarTexto.value)" #buscarTexto >
          <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Presione Enter</button>
        </form>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo de consulta</th>
      <th scope="col" (click)="orderByDate()">Fecha<i class="fas fa-sort"></i></th>
      <th scope="col">Título</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let register of registerArr">
    <tr  *ngIf ="register.registerType === filter || filter === 'all'">
      <td>{{register.registerType}}</td>
      <td>{{register.date}}</td>
      <td>{{register.title}}</td>
      <td [routerLink]="['/view/' + register.key]"><i class="fas fa-eye"></i></td>
      <td [routerLink]="['/update/' + register.key]"><i class="fas fa-pen-square"></i></td>
      <td>
          <span *ngIf="!deleteRegisterQuestion" (click)="showDeleteRegisterQuestion()"><i class="fas fa-trash-alt"></i></span>
          <span class="question" *ngIf="deleteRegisterQuestion">Seguro de eliminar este registro?
            <span class="yes" (click)="delete(register.key)" (click)="showDeleteRegisterQuestion()">Si</span>
            <span class="no" (click)="showDeleteRegisterQuestion()">No</span></span>
      </td>
    </tr>
  </tbody>
</table>
<div id="newRegister">
    <span [routerLink]="['/medicalregister/' + profileId]">Añadir Registro  &nbsp; &nbsp; 
      <i class="far fa-plus-square"></i>
    </span>
</div>

<div id="search">
    <div class="col-lg-4 offset-lg-4">
            <button [routerLink]="['/pdf/' + profileId]" class="btn btn-success btn-block btn-md">PDF</button>
    </div>
</div>

