<div class="row">
    <div class = "col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Registro Médico</h1>
          <div class="form-group">
            <label for="title">Título:</label>
            <span class="form-control">{{medicalRegister.title}}</span>
          </div>
          <div class="form-group">
            <label for="date">Fecha:</label>
            <span class="form-control">{{medicalRegister.date}}</span>
          </div>
          <div class="form-group">
            <label for="doctorName">Doctor:</label>
            <span class="form-control">{{medicalRegister.doctorName}}</span>
          </div>
          <div class="form-group">
            <label for="hospital">Hospital:</label>
            <span class="form-control">{{medicalRegister?.hospital}}</span>
          </div>
          <div class="form-group">
            <label for="speciality">Especialidad:</label>
            <span class="form-control">{{medicalRegister?.speciality}}</span>
          </div>
          <div class="form-group">
            <label for="registerType">Tipo de registro:</label>
            <span class="form-control">{{medicalRegister?.registerType}}</span>
          </div>
          <div>
            <div class="form-group" *ngIf="medicalRegister.registerType === 'Consulta'">
                <label for="description">Descripcion:</label>
                <span class="form-control">{{medicalRegister?.description}}</span>
            </div>
          </div>
          <div class="form-group" *ngIf="medicalRegister.registerType === 'Análisis'">
              <label for="analysis">Análisis:</label>
              <span class="form-control">{{medicalRegister?.analysis}}</span>
          </div>
          <div class="form-group" *ngIf="medicalRegister.registerType === 'Análisis'">
            <div id="photo-container">
              <img *ngIf="medicalRegister.photo" src="{{medicalRegister.photo}}" class="photo" />
            </div>  
          </div>
          <div class="form-group" *ngIf="medicalRegister.registerType === 'Prescripción'">
              <label for="prescription">Prescripción:</label>
              <span class="form-control">{{medicalRegister?.prescription}}</span>
          </div>
          <div class="form-group" *ngIf="medicalRegister.registerType === 'Prescripción'">
            <div id="photo-container">
              <img *ngIf="medicalRegister.photo" src="{{medicalRegister.photo}}" class="photo" />
            </div>  
          </div>
          <div class="form-group">
              <label for="commentary">Comentario:</label>
              <span class="form-control">{{medicalRegister?.commentary}}</span>
          </div>
          <button [routerLink]="['/medicallist/' + medicalRegister.profileId]" class="btn btn-primary btn-block btn-lg">Ok</button>
        </div>
      </div>
    </div>
  </div>