<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
            <button id="close" [routerLink]="['/profileList']" class="btn btn-danger"><i class="fas fa-times"></i></button>
          <h1 class="text-center">Información Médica</h1>
          <form (ngSubmit)="update()">
            <div class="form-group">
                <label for="height">Altura</label>
                <input [(ngModel)]="medicalInfo.height" placeholder = "Ej: 174 cm" type="text" name="height" class="form-control">
            </div>
            <div class="form-group">
              <label for="weight">Peso:</label>
              <input [(ngModel)]="medicalInfo.weight" placeholder = "Ej: 80 kg" type="text" name="weight" class="form-control">
            </div>
            <div class="form-group">
              <label for="bloodType">Tipo de sangre:</label>
              <select [(ngModel)]="medicalInfo.blood" name="blood" class="form-control" >
                <option>O-</option>
                <option>O+</option>
                <option>A-</option>
                <option>A+</option>
                <option>B-</option>
                <option>B+</option>
                <option>AB-</option>
                <option>AB+</option>
              </select>
            </div>
            <div class="form-group">
              <label for="allergies">Alergias:</label>
              <textarea [(ngModel)]="medicalInfo.allergies" placeholder = "Ej: Polen" name="allergies" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label for="diseases">Enfermedades:</label>
              <textarea [(ngModel)]="medicalInfo.diseases" placeholder = "Ej: Asma" name="diseases" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label for="treatment">Tratamiento:</label>
              <textarea [(ngModel)]="medicalInfo.treatments" placeholder = "Ej: Pastillas" name="treatments" class="form-control" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>