<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">REGISTRO</h1>
          <form (submit) = "onSubmitAddUser()" novalidate>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" name="email" placeholder="Ej:demo@gmail.com" [(ngModel)]="email" #emailControl="ngModel" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              <div class="errors" *ngIf="emailControl.errors?.required">
                *Este campo es requerido
              </div>
              <div class="errors" *ngIf="emailControl.errors?.pattern">
                Debe tener formato de correo
              </div>
            </div>
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" name="password" placeholder="******" id="password" [(ngModel)]="password" #passwordControl="ngModel" minlength="6" class="form-control" required>
              <div class="errors" *ngIf="passwordControl.errors?.required">
                  *Este campo es requerido
              </div>
              <div class="errors" *ngIf="passwordControl.errors?.minlength">
                  Por lo menos 6 caracteres
              </div>
            </div>
            <div *ngIf="emailControl.errors?.required || passwordControl.errors?.required">
              <span class="btn btn-primary btn-block btn-lg" (click) = "paramsRequired()">Confirmar</span>
            </div>
            <div *ngIf="!emailControl.errors?.required && !passwordControl.errors?.required && emailControl.errors?.pattern">
              <span class="btn btn-primary btn-block btn-lg" (click) = "emailInvalid()">Confirmar</span>
            </div>
            <div *ngIf="!emailControl.errors?.required && !passwordControl.errors?.required && passwordControl.errors?.minlength && !emailControl.errors?.pattern">
              <span class="btn btn-primary btn-block btn-lg" (click) = "passwordInvalid()">Confirmar</span>
            </div>
            <div *ngIf="!emailControl.errors?.required && !emailControl.errors?.pattern && !passwordControl.errors?.required && !passwordControl.errors?.minlength">
              <button type="submit" class="btn btn-primary btn-block btn-lg">Confirmar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>