<div class="jumbotron">
  <h1 class="display-3">Historial Médico</h1>
  <p class="lead">Una aplicación para tener registro de tu historial médico </p>
  <hr class="my-4">
</div>
<div id="logo">
  <img src="../assets/Logo.png" alt="Logo de la aplicacion">
</div>
