* {
    padding: 0;
    margin: 0;
  }

.menu{
    background-color: #AED6F1;
    border-radius: 15px;
    text-align: right;
    border: 1px solid #2471A3;
}

.menu li{
    display: inline-block;
	margin: 0.5em;
	color:white;
    padding: 15px;
    background-color: #5499C7;
}

li{
    border: 2px solid #2471A3;
    border-radius: 15px;
}

#logo{
    padding-top: 80px;
    text-align: center;
}