<div class="options">
    <div class="row">
      <div align="center">
          <button [routerLink]="['/medicallist/' + profileId]" class="btn btn-primary btn-md">Volver</button>
          <button (click)="downloadPDF()" class="btn btn-success btn-filter">Generar PDF</button>
      </div>
    </div>
</div>  
 
<div id="content">
  <h1>Informacion Basica</h1>
  <div *ngFor="let basicInfo of basicInfosList">
    <div *ngIf="basicInfo.profileId === profileId">
        <div><label>Nombre:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{basicInfo.firstName}}</span></div>
        <br>
        <div><label>Apellido:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{basicInfo.lastName}}</span></div>
        <br>
        <div><label>Fecha:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{basicInfo.date}}</span></div>
        <br>
        <div><label>Genero:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{basicInfo.gender}}</span></div>
        <br>
        <div><label>direccion:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{basicInfo.direction}}</span></div>
        <br>
        <div><label>telefono:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{basicInfo.phone}}</span></div>
        <br>
        <div><label>correo electronico:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{basicInfo.email}}</span></div>
    </div>
  </div>
  <h1>Informacion Medica</h1>
  <div *ngFor="let medicalInfo of medicalInfosList">
    <div *ngIf="medicalInfo.profileId === profileId">
        <div><label>Altura:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{medicalInfo.height}}</span></div>
        <br>
        <div><label>Peso:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{medicalInfo.weight}}</span></div>
        <br>
        <div><label>Tipo de sangre:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{medicalInfo.blood}}</span></div>
        <br>
        <div><label>Alergias:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{medicalInfo.allergies}}</span></div>
        <br>
        <div><label>enfermedades:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{medicalInfo.diseases}}</span></div>
        <br>
        <div><label>Tratamientos:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{medicalInfo.treatments}}</span></div>
    </div>
  </div>
  <h1>Registros medicos</h1>
  <div *ngFor="let MedicalRegister of registerArr">
      <div *ngIf="MedicalRegister.profileId === profileId">
          <div><label>Titulo:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.title}}</span></div>
          <br>
          <div><label>Fecha:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.date}}</span></div>
          <br>
          <div><label>Nombre del doctor:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.doctorName}}</span></div>
          <br>
          <div><label>Hospital:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.hospital}}</span></div>
          <br>
          <div><label>Especialidad:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.speciality}}</span></div>
          <br>
          <div><label>Tipo de registro:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.registerType}}</span></div>
          <br>
          <div><label>Prescripcion:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.prescription}}</span></div>
          <br>
          <div><label>Descripcion:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.description}}</span></div>
          <br>
          <div><label>Analisis:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.analysis}}</span></div>
          <br>
          <div><label>Comentario:&nbsp;&nbsp;&nbsp;&nbsp;</label><span>{{MedicalRegister.commentary}}</span></div>
          <br>
      </div>
    </div>
</div>